@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

/* textos */

body{
    font-family: 'Roboto Condensed', sans-serif;
}

p{
    color: #55839e;
    font-size: 0.9rem;
    font-family: 'Roboto Condensed', sans-serif;
}


.titulo{
    font-family: 'Roboto Condensed', sans-serif;
    color: #065a9a;
    font-size: 2rem;
    width: 63.5%;
    padding-top: 40px;
    margin-left: 45px;
}

/* INICIO TABELA DE CONTEUDOS */


.mapa{
    display: inline-block;

}

.botao a:hover{
    background: #065a9a;
}


.descricao{
    text-align: left;
    margin-left: 0;
    width: 400px;
    height: 200px;
}

.contatos{
    padding-left: 15px;
    padding-top: 30px;
    color: #55839e;
    font-family: 'Roboto Condensed', sans-serif;
    margin-left: 15px;
    font-size: 0.9rem;
    text-align: left;
    float: right;
    height: 150px;
    width: 200px;
    border-left: #55839e;
    border-style: dashed;
    border-width:0.8px;
    border-top: none;
    border-right: none;
    border-bottom: none;

}

.cidade{
    width: 93%;
    height: 30px;
    text-align: left;
    color: #55839e;
    font-size: 1.5rem;
    margin-bottom: 15px;
    
}

.hoteis{
    padding-top: 10px;
    color: #55839e;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 0.9rem;
    text-align: left;
    float: left;
    width: 400px;
    height: 200px;
}

.restaurantes{
    padding-top: 10px;
    color: #55839e;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 0.9rem;
    text-align: left;
    width: 800px;
    height: 200px;
}

.estrelas{
    color: #e3c101;
    width: 300px;
    float: left;
}



.rodape {
    clear: both;
    background-image: url("/img/bg01.jpg");
    background-repeat: no-repeat;
    font-family: sans-serif;
    height: 121px;
    display: flex;
}

  
 
/* responsividade  */
@media screen and (max-width: 600px) {
  .foto{
   width:350px;
   margin-bottom: 20px;
  }
  .cidade{
    padding-left: 30px;
  }
  .titulo{
    margin-left:45px;
  }

  .mapa{
    width: 350px;
  }

  .descricao{
  margin-bottom:100px;
  }
  .restaurantes{
  width: 350px;
  height: 130px;
}
  .imagem-historia{
    width: 450px;
}
.conteudo-historia {
  width: 90%;
  padding-bottom: 50px;
  text-align: justify;
}
.hoteis{
  width: 350px;
}

.conteudo-historia h2 {
  font-size: 1.5rem;
}


}


