img{
	max-width: 100%;
}
.gallery{
    max-width: 1200px;
    margin: 64px auto 0;
    padding: 0 24px;
}
.gallery img{
	background-color: #ffffff;
	width: 100%;
	box-shadow: 0 0 15px rgba(0,0,0,0.3);
	cursor: pointer;
}
#gallery-modal .modal-img{
	width: 100%;
}

